* {
    box-sizing: border-box;
    outline: none;
}

.hide-scroll-bars::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
    border-top: 400px solid red;

    transition: ease-out;
}

.cascaded-shadow {
    box-shadow: rgba(217, 119, 6, 0.4) 5px 5px, rgba(217, 119, 6, 0.3) 10px 10px, rgba(217, 119, 6, 0.2) 15px 15px, rgba(217, 119, 6, 0.1) 20px 20px, rgba(217, 119, 6, 0.05) 25px 25px;
}

.spherical-shadow {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.anim-expand-x {
    animation: 500ms expand_w linear;
}

.anim-shrink-x {
    animation: 500ms shrink_w linear;
}

.anim-expand-y {
    animation: 500ms expand_h linear;
}


.anim-expand-w {
    animation: 500ms expand_w linear;
}

.anim-shrink-w {
    animation: 500ms shrink_w linear;
}

.anim-expand-h {
    animation: 500ms expand_h linear;
}

.anim-shrink-h {
    animation: 500ms shrink_h linear;
}

.anim-slide-in-from-l {
    animation: 2s slide_in_from_l linear;
}

.anim-bounce-from-r {
    animation: 500ms bounce_from_right ease-out;
}

.anim-bounce-from-b {
    animation: 500ms bounce_from_bottom ease-out;
    ;
}

.anim-bg-position {
    transition: 2s;
    background: linear-gradient(45deg, red, green, blue, orange, indigo, violet, yellow);
    animation: bg_position_animation 10s ease infinite;
}

.shadow-text {
    text-shadow: 0.06em 0.06em 0.06em black;
}

@keyframes slide_in_from_l {
    from {
        transform: translateX(100%);
    }
}

@keyframes expand_w {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes shrink_w {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes expand_h {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@keyframes shrink_h {
    0% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@keyframes bounce_from_right {
    from {
        left: 100%
    }
}

@keyframes anim_left {
    from {
        left: 0%
    }
    to {
        left: 100%;
    }
}

@keyframes bounce_from_bottom {
    from {
        top: 100%
    }
}

@keyframes zoom_in_from_bottom {
    from {
        opacity: 1;
        transform: translateY(100%);
    }
}

@keyframes bg_position_animation {
    0% {
        background-position: 10% 0%;
    }

    50% {
        background-position: 91% 100%;
    }

    100% {
        background-position: 10% 0%;
    }
}

.r-to-l {
    direction: rtl;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    color: rgb(177, 96, 4) !important;
    transform: scale(0.55);
}



/* .faces {
    height: 200px;
    width: 200px;
    font-weight: bold;
    position: absolute;

}

.top {
    transform: translateY(-100px) rotateX(90deg);
}

.bottom {
    transform: translateY(100px) rotateX(-90deg);
}

.left {
    transform: translateX(-100px) rotateY(-90deg);
}

.right {
    transform: translateX(100px) rotateY(90deg);
}

.front {
    transform: translateZ(100px);
}

.back {
    transform: translateZ(-100px) rotateY(180deg);
}

.container {
    perspective: 1000px;
}

.cube {
    position: relative;
    height: 200px;
    width: 200px;
    animation: 10s turn infinite linear;
    transform-style: preserve-3d;
} */

@keyframes turn {
    0% {
        transform: rotate3d(0, 1, 0, 0) rotate3d(0, 0, 1, 180deg);
    }

    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}